body {
  margin: 10%;
  display: flex;
  flex-direction: column;
  background-color: #333558;
  color: #fff;
  font-family: 'Roboto mono', monospace;
  font-weight: 300;
}

#header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

hr {
  border: none;
  border-top: 3px dashed rgba(255,255,255,0.5);
  height: 1px;
  width: 100%;
  margin: 50px 0;
}

h1 {
  font-family: 'Roboto mono', monospace;
}

h2 {
  font-size: 20pt;
  font-weight: 700;
  font-family: 'Roboto mono', monospace;
}

h3 {
  font-size: 16pt;
  font-family: 'Roboto mono', monospace;
}

#banner {
  font-size: 16pt;
  margin: 100px 0;
  display: flex;
}

#banner p {
  margin: auto;
  font-family: 'Lato', sans-serif;
  font-size: 20pt;
  line-height: 42pt;
  font-weight: 300;
}

.little-phd {
  margin-top: 39px;
  margin-left: 15px;
}

a {
  font-weight: 700;
  color: #ff7171;
  font-family: 'Roboto mono', monospace;
}
a:hover {
  color: #ff3939;
}
a:link {
  text-decoration: none;
}

.banner-link {
  font-size: 15pt;
}

.col {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.icon {
  margin: auto 10px;
  width: 16px;
  height: 16px;
}

#profile-circle {
  border-radius: 50%;
  width: 250px;
  height: auto;
}

.section {
  font-size: 14pt;
  line-height: 24pt;
  font-family: 'Lato', sans-serif;
}

.span-year, .span-skills {
  font-family: 'Roboto mono', monospace;
  display: inline-block;
}

.span-year {
  width: 250px;
  min-width: 250px;
}

.span-skills {
  width: 300px;
  min-width: 300px;
}

.span-content {
  width: auto;
}

.bullet {
  font-family: 'Roboto mono', monospace;
}

li {
  display:flex;
  width:100%;
}

footer {
  text-align: center;
  font-weight: 300;
  font-size: 11pt;
}
